/* font */
body{
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

}
/* 1st part */
.top-banner{
    display: flex;
    width: 1440px;
    height: 695px;
    background-color: #2D25A0;
    padding-top: 207px;
    padding-left: 156px;
    margin: 0px;
}

.top-title{
    width: 485px;
    height: 230px; 
    
}


h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
}


.watch-button{
    width: 168px;
    height: 44px;
    background-color: #E02C6D;
    color: white;
    font-family: Poppins;
    font-style: normal;
   font-weight: 500;
   font-size: 16px;
   line-height: 24px;
    }


    
.messi img{
    position: absolute;
    width: 530.08px;
    height: 442.37px;
    padding-top: 151.95pxpx;
    padding-left: 98.58px;
}

/* Second section */



h2{
    font-family: Poppins;
   font-style: normal;
   font-weight: bold;
   font-size: 28px;
   line-height: 40px;
}


.top3-player img{
    position: static;
    width: 300px;
    height: 256px;
    }
 
.samad{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px


    

}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 180px;
    margin-right: 220px;
    

}

/* ................third part.................... */




.football-icon img{
    width: 483.87px;
    height: 110px;
}
.copy-right img{
width: 17px;
height: 32px;


}
.bottom-line{
    display: grid; 
    grid-template-columns: repeat(1, 1fr);
    margin-left: 475px;
    margin-top: 400px;
}

/* ...........................
      Media Queirey
................................ */
/* Mobile Devie */

@media only screen and (max-width:688px) {
    .players{
        grid-template-columns: repeat(1, 1fr);
        
    }
 
    
}